<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TableQAKit</title>

    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/css/CASIA_logo.png" />

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/custom.js"></script>
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <img src="../static/img/CASIA_logo.png" width="45px" alt="logo" />
                    <h4>TableQAKit</h4>

                </div>
            </div>


            <div class="navbar-menu-wrapper d-flex flex-row align-items-center justify-content-between">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-target="#about-modal" data-bs-toggle="modal">
                            <i class="mdi mdi-information mx-0"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Default DataSet QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="custom_mode.html">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Custom Table QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-target="#about-modal" data-bs-toggle="modal">
                            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                            <span class="menu-title">Information</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="me-md-3 me-xl-5">
                                        <h2>Custom Table QA Mode,</h2>
                                        <p class="mb-md-0">You will use custom uploaded table for QA</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">
<!--                                    <button type="button" class="btn btn-light bg-white btn-icon me-3 d-none d-md-block ">-->
<!--                                        <a title="download result">-->
<!--                                          <i class="mdi mdi-download text-muted"></i>-->
<!--                                        </a>-->
<!--                                    </button>-->


                                    <a href="/">
                                        <button id="switchToIndex" class="btn btn-success mt-2 mt-xl-0" >Switch To Default Dataset QA Mode</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">



                            <div class="card">
                                <div class="card-body dashboard-tabs">
                                    <p class="card-title">Step 1 : Select or upload your table</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-inverse-primary btn-fw">Upload a new table</button> &nbsp
                                            <button type="button" class="btn btn-inverse-secondary btn-fw">Select a table uploaded before</button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Step 2 : Display Table</p>

                                    <button type="button" class="btn btn-info btn-icon-text" style="height:45px;" >
                                      Download
                                      <i class="mdi mdi-download btn-icon-append"></i>
                                    </button>

                                    <br></br>
                                    <h4>Properties</h4>



                                    <div>
                                        <div class="prop-buttons">
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_reference" aria-expanded="true" aria-controls="row_reference" style="margin-right:8px; margin-top:5px">reference</button>
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_title" aria-expanded="true" aria-controls="row_title" style="margin-right:8px;margin-top:5px">title</button>
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_table_section_text" aria-expanded="true" aria-controls="row_table_section_text" style="margin-right:8px;margin-top:5px">table_section_text</button>
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_table_section_title" aria-expanded="true" aria-controls="row_table_section_title" style="margin-right:8px;margin-top:5px">table_section_title</button>
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_references" aria-expanded="true" aria-controls="row_references" style="margin-right:8px;margin-top:5px">references</button>
                                          <button type="button" class="btn  prop-btn  btn-fw" data-bs-toggle="collapse" data-bs-target=".row_linearized_input" aria-expanded="true" aria-controls="row_linearized_input" style="margin-right:8px;margin-top:5px">linearized_input</button>

                                        </div>
                                        <table class="table table-sm caption-top meta-table">
                                          <tbody>
                                            <tr class="row_reference collapsible collapse show">
                                              <th>
                                                <div  style="">
                                                  <div>reference</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div style="">
                                                  <div>Daniel Henry Chamberlain was the 76th Governor of South Carolina from 1874.</div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr class="row_title collapsible collapse show">
                                              <th>
                                                <div style="">
                                                  <div>title</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div style="">
                                                  <div>List of Governors of South Carolina</div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr class="row_table_section_text collapsible collapse show" >
                                              <th>
                                                <div style="">
                                                  <div>table_section_text</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div  style="">
                                                  <div>Parties Democratic Republican</div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr class="row_table_section_title collapsible collapse show" >
                                              <th>
                                                <div style="">
                                                  <div>table_section_title</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div style="">
                                                  <div>Governors under the Constitution of 1868</div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr  class="row_references collapsible collapse show" >
                                              <th>
                                                <div style="">
                                                  <div>references</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div style="">
                                                  <div>['Daniel Henry Chamberlain was the 76th Governor of South Carolina from 1874.', 'Daniel Henry Chamberlain was the 76th Governor of South Carolina, beginning in 1874.', 'Daniel Henry Chamberlain was the 76th Governor of South Carolina who took office in 1874.']</div>
                                                </div>
                                              </td>
                                            </tr>
                                            <tr class="row_linearized_input collapsible collapse show">
                                              <th>
                                                <div  style="">
                                                  <div>linearized_input</div>
                                                </div>
                                              </th>
                                              <td>
                                                <div  style="">
                                                  <div>&lt;page_title&gt; List of Governors of South Carolina &lt;/page_title&gt; &lt;section_title&gt; Governors under the Constitution of 1868 &lt;/section_title&gt; &lt;table&gt; &lt;cell&gt; 76 &lt;col_header&gt; # &lt;/col_header&gt; &lt;col_header&gt; 74 &lt;/col_header&gt; &lt;col_header&gt; 75 &lt;/col_header&gt; &lt;/cell&gt; &lt;cell&gt; Daniel Henry Chamberlain &lt;col_header&gt; Governor &lt;/col_header&gt; &lt;row_header&gt; 76 &lt;/row_header&gt; &lt;/cell&gt; &lt;cell&gt; December 1, 1874 &lt;col_header&gt; Took Office &lt;/col_header&gt; &lt;row_header&gt; 76 &lt;/row_header&gt; &lt;/cell&gt; &lt;/table&gt;</div>
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>


                                    <br>
                                    <h4>Table</h4>







                                    <div class="table-responsive">
                                        <table id="recent-purchases-listing" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Status report</th>
                                                    <th>Office</th>
                                                    <th>Price</th>
                                                    <th>Date</th>
                                                    <th>Gross amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Jeremy Ortega</td>
                                                    <td>Levelled up</td>
                                                    <td>Catalinaborough</td>
                                                    <td>$790</td>
                                                    <td>06 Jan 2018</td>
                                                    <td>$2274253</td>
                                                </tr>
                                                <tr>
                                                    <td>Alvin Fisher</td>
                                                    <td>Ui design completed</td>
                                                    <td>East Mayra</td>
                                                    <td>$23230</td>
                                                    <td>18 Jul 2018</td>
                                                    <td>$83127</td>
                                                </tr>
                                                <tr>
                                                    <td>Emily Cunningham</td>
                                                    <td>support</td>
                                                    <td>Makennaton</td>
                                                    <td>$939</td>
                                                    <td>16 Jul 2018</td>
                                                    <td>$29177</td>
                                                </tr>
                                                <tr>
                                                    <td>Minnie Farmer</td>
                                                    <td>support</td>
                                                    <td>Agustinaborough</td>
                                                    <td>$30</td>
                                                    <td>30 Apr 2018</td>
                                                    <td>$44617</td>
                                                </tr>
                                                <tr>
                                                    <td>Betty Hunt</td>
                                                    <td>Ui design not completed</td>
                                                    <td>Lake Sandrafort</td>
                                                    <td>$571</td>
                                                    <td>25 Jun 2018</td>
                                                    <td>$78952</td>
                                                </tr>
                                                <tr>
                                                    <td>Myrtie Lambert</td>
                                                    <td>Ui design completed</td>
                                                    <td>Cassinbury</td>
                                                    <td>$36</td>
                                                    <td>05 Nov 2018</td>
                                                    <td>$36422</td>
                                                </tr>
                                                <tr>
                                                    <td>Jacob Kennedy</td>
                                                    <td>New project</td>
                                                    <td>Cletaborough</td>
                                                    <td>$314</td>
                                                    <td>12 Jul 2018</td>
                                                    <td>$34167</td>
                                                </tr>
                                                <tr>
                                                    <td>Ernest Wade</td>
                                                    <td>Levelled up</td>
                                                    <td>West Fidelmouth</td>
                                                    <td>$484</td>
                                                    <td>08 Sep 2018</td>
                                                    <td>$50862</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Step3 : TableQA Playground</p>


                                    <h4>Input your Question:</h4>

                                    <textarea class="form-control" id="input-question" placeholder="question" rows="5"></textarea>


                                    <div class="row">
                                        <div class="col-md-12 p-0">
                                            <div class="row align-items-center">
                                                <label class="col-sm-2 mx-4 col-form-label"><b>Model</b></label>
                                                <div class="col-sm-8">
                                                    <select id="model-select" class="form-control text-dark">
                              <option value="T5-small" selected>T5-small Answer</option>
                              <option value="LLAMA-Lora">LLAMA-Lora Answer</option>
                              <option value="SQL">SQL</option>
                              <option value="Gold">Gold Answer</option>
                              <option value="Bloom-Lora">Bloom-Lora Answer</option>
                            </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button id="get-question-button" type="button" class="btn btn-success btn-rounded btn-fw my-2">Run</button>
                                    </div>

                                    <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                                        <i class="ti-info-alt me-4"></i>
                                        <p>Monica Samille Lewinsky (born July 23, 1973) is an American activist, television personality, fashion designer, and former White House intern. President Bill Clinton admitted to having had what he called an "inappropriate
                                            relationship" with Lewinsky while she worked at the White House in 1995–1996. The affair and its repercussions (which included Clinton's impeachment) became known later as the Clinton–Lewinsky scandal.</p>
                                    </div>

                                    <div id="total-sales-chart-legend"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">xxxxxx <a href="https:" target="_blank">xxxxxxx </a>xxxxx</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">xxxxxx <a href="https:" target="_blank"> xxxxxxx  </a> xxxxx</span>
                    </div>
                </footer>

            </div>

        </div>

    </div>
    <div class="modal fade" id="about-modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="about-modal-label">About</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="aboutarea" class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
                <div id="about-info" class="area-content">
                  <p>A toolkit for Text-Table Hybrid Question Answering.</p>
                  <p>A toolkit for Text-Table Hybrid Question Answering.</p>

                  <p>A toolkit for Text-Table Hybrid Question Answering</p>



                  <p>
                    A toolkit for Text-Table Hybrid Question Answering
                  </p>

                  <p>A toolkit for Text-Table Hybrid Question Answering</p>
                  <p>
                    A toolkit for Text-Table Hybrid Question Answering
                  </p>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>


    <script src="../static/js/vendor.bundle.base.js"></script>


    <script src="../static/js/Chart.min.js"></script>
    <script src="../static/js/jquery.dataTables.js"></script>
    <script src="../static/js/dataTables.bootstrap4.js"></script>


    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/template.js"></script>


    <script src="../static/js/dashboard.js"></script>
    <script src="../static/js/data-table.js"></script>
    <script src="../static/js/js.jquery.dataTables.js"></script>
    <script src="../static/js/js.dataTables.bootstrap4.js"></script>



    <script src="../static/js/jquery.cookie.js" type="text/javascript"></script>
    </div>
</body>

</html>