.history/*
__pycache__/*
TableQAKit/__pycache__/*
.idea/*
.vscode/*
TableQAKit/datasets
TableQAKit/loaders/__pycache__/*
TableQAKit/static/img/mmqa_raw
TableQAKit/static/img/mmqa
TableQAKit/try_table_qa_kit.py
/dist
/ttqakit.egg-info
/build