<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TableQAKit</title>

    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <!-- <link rel="stylesheet" href="../static/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/bundle.css">
    <link rel="shortcut icon" href="../static/img/logo.png" />

    <script src="../static/js/bundle.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/custom.js"></script>
</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <img src="../static/img/tableqakit.png" width="140px" alt="logo" />
                </div>
            </div>


            <div class="navbar-menu-wrapper d-flex flex-row align-items-center justify-content-between">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-target="#about-modal" data-bs-toggle="modal">
                            <i class="mdi mdi-information mx-0"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>

        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Default DataSet QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/custom">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Custom Table QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-target="#about-modal" data-bs-toggle="modal">
                            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                            <span class="menu-title">How to Use</span>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="me-md-3 me-xl-5">
                                        <h2>Custom Table QA Mode,</h2>
                                        <p class="mb-md-0">You will use custom uploaded table for QA</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">
                      


                                    <a href="/">
                                        <button id="switchToIndex" class="btn btn-success mt-2 mt-xl-0">Switch To Default Dataset QA Mode</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">



                            <div class="card">
                                <div class="card-body dashboard-tabs">
                                    <p class="card-title">Select or upload your table</p>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-inverse-primary btn-fw" data-bs-target="#upload-table-modal" data-bs-toggle="modal">Upload a new table</button> &nbsp
                                            <button type="button" class="btn btn-inverse-secondary btn-fw" data-bs-target="#select-table-modal" data-bs-toggle="modal">Select/Delete a table uploaded before</button>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div id="table" class="col-md-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Table</p>

                                    <button type="button" class="btn btn-info btn-icon-text" style="height:45px;" data-bs-target="#download-custom-table-modal" data-bs-toggle="modal">
                                      Download
                                      <i class="mdi mdi-download btn-icon-append"></i>
                                    </button>

                                    <br></br>
                                    

                                    <br>
                                    <h4>Table</h4>







                                    <div id="table-container" class="table-responsive">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="tableqa" class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">TableQA Playground</p>


                                    <h4>Input your Question:</h4>

                                    <textarea class="form-control" id="input-question" placeholder="question" rows="5"></textarea>


                                 
                                    <div class="d-flex justify-content-end">
                                        <button id="get-question-button" type="button" class="btn btn-success btn-rounded btn-fw my-2">Run</button>
                                        <code id="loading"><b>Inference in progress... Estimated total wait time: 15 seconds.</b></code>
                                    </div>

                                    <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                                        <i class="ti-info-alt me-4"></i>
                                        <p id="answer"></p>
                                    </div>

                                    <div id="total-sales-chart-legend"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://github.com/lfy79001/TableQAKit" target="_blank"> github  </a> </span>
                    </div>
                </footer>

            </div>

        </div>

    </div>
    <div class="modal fade" id="about-modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width:600px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-label">Guide - How to Use the Tool</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="aboutarea" class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
                        <div id="about-info" class="area-content">
                            
                            <h4>Default DataSet QA Mode</h4>
                            <p>In this mode, you will use common datasets (including <code><b><em>FinQA, HiTab, HybridQA, MultimodalQA, MultiHiertt, SpreadSheetQA, TAT-QA, WikiSQL, WikiTableQuestions</em></b></code>) for QA.</p>
                            <h5>Usage</h5>
                            <ul>
                                <li>
                                    <b>Step 1:</b> In the <b><em>"DATASET"</em></b> module, select the Dataset and Split (including <code><b><em>train, dev, test</em></b></code>) to specify the data source for QA.
                                </li>
                                <li>
                                    <b>Step 2:</b> In the <b><em>"TABLE"</em></b> module, enter the number of the question you want to display for the current dataset, then click anywhere on the blank space. The corresponding table information (including <code><b><em>properties, question, table</em></b></code>) will then be displayed. You can also click the <em><b>“Download”</em></b> button to choose the file format and download the table information.
                                </li>
                                <li>
                                    <b>Step 3:</b> After determining which question to display in the <b><em>"TABLE"</em></b> module, any image associated with the question (if exists) will be displayed in the <b><em>"PICTURES"</em></b> module, and any text information associated with the question (if exists) will be displayed in the <b><em>"TEXT"</em></b> module.
                                </li>
                                <li>
                                    <b>Step 4:</b> In the <b><em>"TABLEQA PLAYGROUND"</em></b> module, the gold answer for the current question is displayed, along with inferred answers from various models. 
                                </li>
                                <li>
                                    <b>Step 5:</b> In the <b><em>"TABLEQA PLAYGROUND"</em></b> module, You can also input custom questions to inference the model to get answers.
                                </li>
                            </ul>

                            <h4>Custom Table QA Mode</h4>
                            <p>In this mode, you will use custom uploaded table for QA.</p>
                            <h5>Usage</h5>
                            <ul>
                                <li>
                                    <b>Step 1:</b> In the <b><em>"SELECT OR UPLOAD YOUR TABLE"</em></b> module, click the <b><em>"Upload a new table"</em></b> button to upload a local table (<code><b><em>.xls or .xlsx format</em></b></code>) for QA. The uploaded table will then be displayed directly in the <b><em>"TABLE"</em></b> module;You can also click the <b><em>"Select/Delete a table uploaded before"</em></b> button to choose a previously uploaded table which will be displayed directly in the <b><em>"TABLE"</em></b> module. You can also delete uploaded table here.
                                </li>
                                <li>
                                    <b>Step 2:</b> In the <b><em>"TABLE"</em></b> module, your uploaded local table will be displayed. You can click the <b><em>"Download"</em></b> button to choose the file format and download the table information.
                                </li>
                                <li>
                                    <b>Step 3:</b> In the <b><em>"TABLEQA PLAYGROUND"</em></b> module, you can input custom questions and inference the model to get answers.
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upload-table-modal" tabindex="-1" style="display: none;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" >
            <div class="modal-content" style="width:600px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="upload-table-modal-label">Upload Table</h5>
                    <button type="button" id="update-close-btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h4>Upload your Excel spreadsheet file here.</h4>
                            <div class="card-description text-muted">
                                <p><b>Note:</b></p>
                                <p>1.The file format should be <code><b>.xls</b></code> or <code><b>.xlsx</b></code></p>
                                <p>2.The table content should be located at the top-left corner of the Excel file.</p>
                                <p>3.Do not use merged cells in the Excel file.</p>
                                <p>4.The system will only upload the table data from the first sheet by default.</p>
                                <p>5.The table name cannot be the same as any previously uploaded table. <code><b>You can view the names of previously uploaded tables by clicking on the icon on the right side of the table name input box.</b></code></p>
                                <p>6.If the uploaded table encounters errors during operation, please try <code><b>refreshing the webpage</b></code> and <code><b>uploading the table again</b></code>.</p>
                            </div>
                            <form class="forms-sample">
                                <div class="form-group">
                                    <label>Table Name</label>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <input type="text" id="table-name-input" class="form-control" id="upload-table-name" placeholder="Input Table Name">
                                        </div>
                                        <div class="col-md-2">
                                            <a class="dropdown-toggle" id="messageDropdown-uploaded_table" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-information mx-0"></i>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="messageDropdown-uploaded_table" >

                                                <p class="drop-txt">
                                                    <b>Previously uploaded table name:</b>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Table File</label>
                                    <span style="margin-left:10px;">
                            <a class="" id="download-example" href="/custom/example">
                                <i class="mdi mdi-download mx-0"></i>
                                <span>Download File Example</span>
                                    </a>
                                    </span>
                                    <input type="file" id="table-file-input" name="files" class="file-upload-default" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,text/csv">
                                    <div class="input-group col-xs-12">
                                        <input type="text" id="selected-file-name" class="form-control file-upload-info" disabled="" placeholder="Upload Xls/Xlsx File">
                                        <span class="input-group-append">
                          <button id="select-excel-button" class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                                    </div>
                                </div>
                                <button type="button" id="submit-excel-button" class="btn btn-primary me-2">Submit</button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="select-table-modal" tabindex="-1" style="display: none;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" >
            <div class="modal-content" style="width:600px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="select-table-modal-label">Select table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h4>Select table uploaded before.</h4>


                            <table class="table table-sm caption-top meta-table text-muted">
                                <tbody id="table-list">
                                    <tr>
                                        <th>
                                            <div style="width:100px;">
                                                Table Name
                                            </div>
                                        </th>
                                        <th>
                                            <div>
                                                Action
                                            </div>
                                        </th>
                                    </tr>
                                    <!-- <tr>
                                        <td>
                                            <div style="width:100px;">
                                                <b>MyTable01</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <button type="button" class="btn btn-success " style="width:200px">Use This Table</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-danger ">Delete</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="width:100px;">
                                                <b>name-1</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <button type="button" class="btn btn-success " style="width:200px">Use This Table</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-danger ">Delete</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td>
                                            <div style="width:100px;">
                                                <b>name-2</b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <button type="button" class="btn btn-success " style="width:200px">Use This Table</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-danger ">Delete</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr> -->

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button id="close-select-list-btn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="download-custom-table-modal" tabindex="-1" style="display: none;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" >
            <div class="modal-content" style="width:600px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="download-custom-table-modal-label">Download Table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample">
                                <h4>Select the configuration and download the table.</h4>
                                <div class="form-group">
                                    <label>File Format</label>

                                    <div>
                                        <select id="download-format-select" class="form-control text-dark">
                              <option  selected="xlsx">xlsx</option>
                              <option>txt</option>
                              <option>json</option>
                              <option>csv</option>
                              <option>html</option>
                            </select>
                                    </div>

                                </div>
                                <button type="button" id="download-excel" class="btn btn-primary me-2">Download</button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

















    <script src="../static/js/vendor.bundle.base.js"></script>


    <script src="../static/js/Chart.min.js"></script>


</body>

</html>