<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TableQAKit</title>

    <link rel="stylesheet" href="../static/css/materialdesignicons.min.css">
    <!-- <link rel="stylesheet" href="../static/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/bundle.css">
    <link rel="shortcut icon" href="../static/img/logo.png" />

    <script src="../static/js/bundle.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<body>
    <div class="container-scroller">

        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex justify-content-center">
                <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
                    <img src="../static/img/tableqakit.png" width="190px" alt="logo" />
                </div>
            </div>


            <div class="navbar-menu-wrapper d-flex flex-row align-items-center justify-content-between">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown me-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-bs-target="#about-modal" data-bs-toggle="modal">
                            <i class="mdi mdi-information mx-0"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="container-fluid page-body-wrapper">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="mdi mdi-home menu-icon"></i>
                            <span class="menu-title">Default DataSet QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/custom">
                            <i class="mdi mdi-grid-large menu-icon"></i>
                            <span class="menu-title">Custom Table QA Mode</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link page-link" data-bs-target="#about-modal" data-bs-toggle="modal" id="about-btn">
                            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                            <span class="menu-title">How to Use</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="d-flex align-items-end flex-wrap">
                                    <div class="me-md-3 me-xl-5">
                                        <h2>Default Dataset QA Mode,</h2>
                                        <p class="mb-md-0">You will use common tabular datasets for QA.</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-end flex-wrap">

                                    <a href="/custom">
                                        <button id="switchToCustomMode" class="btn btn-secondary mt-2 mt-xl-0">

                                            Switch To Custom Table QA Mode

                                         </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">


                            <div class="card">
                                <div class="card-body dashboard-tabs">
                                    <p class="card-title">Dataset</p>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 mx-4 col-form-label"><b>Dataset</b></label>
                                                <div class="col-sm-7">
                                                    <select id="dataset-select" class="form-control text-dark">
                                                      <option val="FinQA" selected>FinQA</option>
                                                      <option val="Hitab">Hitab</option>
                                                      <option val="HybridQA">HybridQA</option>
                                                      <option val="MultimodalQA">MultimodalQA</option>
                                                      <option val="TAT-QA">TAT-QA</option>
                                                      <option val="WikiSQL">WikiSQL</option>
                                                      <option val="WikiTableQuestions">WikiTableQuestions</option> 
                                                      <option val="MultiHiertt">MultiHiertt</option> 
                                                      <option val="SpreadSheetQA">SpreadSheetQA</option> 
                                                    </select>
                                                </div>
                    
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row align-items-center">
                                                <label class="col-sm-3 mx-4 col-form-label"><b>Split</b></label>
                                                <div class="col-sm-7">
                                                    <select id="split-select" class="form-control text-dark">
                                                        <option value="train" selected>train</option>
                                                        <option value="dev">dev</option>
                                                        <option value="test">test</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Table</p>

                                    <div class="table-page-choose d-flex flex-row justify-content-between">
                                        <ul class="pagination" id="nav-example-cnt">
                                            <li class="page-item">
                                                <a class="page-link" id="start-btn" onclick="startbtn();">«</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="prev-btn" onclick="prevbtn();">‹</a>
                                            </li>
                                            <li class="page-item">
                                                <input type="text" class="form-control" id="page-input" onfocusout="gotobtn();" onkeyup="value=value.replace(/[^\d]/g,'').replace(/^0{1,}/g,'')">
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="total-examples" style="min-height: 28px;"></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="next-btn" onclick="nextbtn();">›</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="end-btn" onclick="endbtn();">»</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" id="random-btn" style="margin-left:12px; " onclick="randombtn();" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Go to a random example">
                                                    🎲
                                                </a>
                                            </li>
                                            <li>
                                                <button type="button" class="btn btn-info btn-icon-text" style="margin-left:30px; height:45px;" data-bs-target="#download-default-table-modal" data-bs-toggle="modal">
                                                  Download
                                                  <i class="mdi mdi-download btn-icon-append"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <br>
                                    <h4>Properties</h4>




                                    <div id="properties-container">
                                       
                                    </div>





                                    <br>
                                    <h4>Question:</h4>
                                    <h5 id="default-question">Today, many people rely on computers to do homework, work, and create or store useful information. Therefore, it is important </h5>
                                    <br>
                                    <h4>Table:</h4>
                                    <div id="table-container" class="table-responsive">
                                        
                                    </div>
                                    <br>











                                </div>
                            </div>
                        </div>
                       
                    </div>


                    <div class="row">
                        <div id="pictures" class="col-md-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Pictures</p>
                                    <!--                      <h4>Pictures:</h4>-->
                                    <div class="row">
                                        <div class="col-lg-12 grid-margin">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div id="image-container" class="row icons-list">

                                                       

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="text" class="col-md-6 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">Text</p>
                            
                                    <div class="table-responsive pt-3">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        No.
                                                    </th>
                                                    <th>
                                                        Content
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="text-container"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="tableqa" class="col-md-12 stretch-card grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title">TableQA Playground</p>
                                    <h4>Default Question:</h4>
                                    <h5 id="tableqa-default-question">Today, many people rely on computers to do homework, work, and create or store useful information. Therefore, it is important </h5>
                                    <div id="default-answer"></div>
                                    <!-- <div>
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <div class="row align-items-center">
                                                    <label class="col-sm-2 mx-4 col-form-label"><b>Model</b></label>
                                                    <label class="col-sm-8 col-form-label">gold answer</label>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <i class="ti-info-alt me-4"></i>
                                            <p id="default-model-answer"></p>
                                        </div>
                
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-md-12 p-0">
                                                <div class="row align-items-center">
                                                    <label class="col-sm-2 mx-4 col-form-label"><b>Model</b></label>
                                                    <label class="col-sm-8 col-form-label">gold answer</label>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <i class="ti-info-alt me-4"></i>
                                            <p id="default-model-answer"></p>
                                        </div>
                                      
                                    </div> -->


                                    <div id="pipeline">
                                        <h4>Input your Question:</h4>

                                        <textarea class="form-control" id="input-question" placeholder="question" rows="5"></textarea>



                                    
                                        <div class="d-flex justify-content-end">
                                            <button id="get-question-button" type="button" class="btn btn-success btn-rounded btn-fw my-2">Run</button>
                                            <code id="loading"><b>Inference in progress... Estimated total wait time: 15 seconds.</b></code>
                                            <!-- <img src="static/img/example.gif" alt="Animated GIF" style="display: none;"> -->
                                        </div>

                                        <div class="alert alert-success mt-4 d-flex align-items-center" role="alert">
                                            <i class="ti-info-alt me-4"></i>
                                            <p id="answer"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                </div>


                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"></span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://github.com/lfy79001/TableQAKit" target="_blank"> github  </a> </span>
                    </div>
                </footer>

            </div>

        </div>

    </div>

    <div class="modal fade" id="about-modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-label">Guide - How to Use the Tool</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="aboutarea" class="tab-pane sidepanel-panel" role="tabpanel" tabindex="0">
                        <div id="about-info" class="area-content">

                            
                            <h4>Default DataSet QA Mode</h4>
                            <p>In this mode, you will use common datasets (including <code><b><em>FinQA, hitab, HybridQA, MultimodalQA, MultiHiertt, SpreadSheetQA, TAT-QA, WikiSQL, WikiTableQuestions</em></b></code>) for QA.</p>
                            <h5>Usage</h5>
                            <ul>
                                <li>
                                    <b>Step 1:</b> In the <b><em>"DATASET"</em></b> module, select the Dataset and Split (including <code><b><em>train, dev, test</em></b></code>) to specify the data source for QA.
                                </li>
                                <li>
                                    <b>Step 2:</b> In the <b><em>"TABLE"</em></b> module, enter the number of the question you want to display for the current data source, then click anywhere on the blank space. The corresponding table information (including <code><b><em>properties, question, table</em></b></code>) will then be displayed. You can also click the <em><b>“download”</em></b> button to choose the file format and download the table information.
                                </li>
                                <li>
                                    <b>Step 3:</b> After determining which question to display in the <b><em>"TABLE"</em></b> module, any image associated with the question (if exists) will be displayed in the <b><em>"PICTURES"</em></b> module, and any text information associated with the question (if exists) will be displayed in the <b><em>"TEXT"</em></b> module.
                                </li>
                                <li>
                                    <b>Step 4:</b> In the <b><em>"TABLEQA PLAYGROUND"</em></b> module, the gold answer for the current question is displayed, along with inferred answers from various models. You can also input custom questions and invoke the model for inference answers.
                                </li>
                            </ul>

                            <h4>Custom Table QA Mode</h4>
                            <p>In this mode, you will use custom uploaded table for QA.</p>
                            <h5>Usage</h5>
                            <ul>
                                <li>
                                    <b>Step 1:</b> In the <b><em>"SELECT OR UPLOAD YOUR TABLE"</em></b> module, click the <b><em>"Upload a new table"</em></b> button to upload a local table (.xls or .xlsx format) for QA. The uploaded table will then be displayed directly in the <b><em>"TABLE"</em></b> module;You can also click the <b><em>"Select/Delete a table uploaded before"</em></b> button to choose a previously uploaded table which will be displayed directly in the <b><em>"TABLE"</em></b> module. You can also delete uploaded table here.
                                </li>
                                <li>
                                    <b>Step 2:</b> In the <b><em>"TABLE"</em></b> module, your uploaded local table will be displayed. You can click the <b><em>"download"</em></b> button to choose the file format and download the table information.
                                </li>
                                <li>
                                    <b>Step 3:</b> In the <b><em>"TABLEQA PLAYGROUND"</em></b> module, you can input custom questions and invoke the model for inference answers.
                                </li>
                            </ul>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="download-default-table-modal" tabindex="-1" style="display: none;" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" style=" ">
            <div class="modal-content" style="width:600px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="download-default-table-modal-label">Download Table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample">
                                <h4>Select the configuration and download the table.</h4>
                                <div class="form-group">
                                    <label>File Format</label>

                                    <div>
                                        <select id="download-format-select" class="form-control text-dark">
                                            <option val="xlsx" selected>xlsx</option>
                                            <option val="txt">txt</option>
                                            <option val="json">json</option>
                                            <option val="csv">csv</option>
                                            <option val="html">html</option>
                                        </select>
                                    </div>
                                    <br></br>
                                    <label class="form-check-label">
                            <input type="checkbox" id="includes-properties" class="form-check-input" checked="">
                                Includes properties
                            <i class="input-helper"></i>
                        </label>
                                </div>
                                <button type="button" id="download-table" class="btn btn-primary me-2">Download</button>
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    



    <script src="../static/js/vendor.bundle.base.js"></script>


    <script src="../static/js/Chart.min.js"></script>
  
</body>

</html>